.skillset-container{
    padding: 50px;
    background-color: black;
}

.skills-heading{
    margin-bottom: 20px;
}

.skills span{
    color: #40cf8e;
    border: 2px solid #40cf8e;
    margin-left: 8px;
    padding: 3px;
}

.skills span:hover{
    background-color: #40cf8e;
    color: white;
}

.experience{
    margin-top: 50px;
    margin-bottom: 20px;
}