

.projects-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding-top: 30px;
  }
  
  .project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px; 
    border-radius: 8px; 
    border: 1px solid #2d2d2d;
    transition: border .2s ease;
    font-size: 16px; 
    height: 200px; 
    background-color: #1c1c1c;
    box-shadow: 0 2px 4px rgba(181, 166, 166, 0.1); 
  }
 
  .project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  background-color: #222; 
  color: #fff; 
}
  
  
  .projects-container{
    padding: 50px;
    background-color: black;
  }

  .project-name{
    padding-top: 60px;
    margin-bottom: 10px; 
      text-align: center;
      color: #d1c8c8
  }


.icon{
  position: absolute; 
  top: 30px; 
  right: 50px; 
  font-size: 14px;
  color: antiquewhite;
}

.tech{
    padding: 3px 8px;
    color: #b28f8f;
}